/* 公共样式 */
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body a {
    text-decoration: none;
}

body {
    /* height: auto; */
    color: #333;
    min-width: 1226px;
    font: 14px/1.5 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

/* 设置一个类，用来表示中间容器的宽度 */
.w {
    /* 固定容器的宽度 */
    width: 1226px;
    /* 设置居中 */
    margin: 0 auto;
}

/* 设置右侧工具栏的样式 */
.back-top,
.back-top-active {
    position: fixed;
    bottom: 70px;
    right: 0;
    background-color: #fff;
    z-index: 9999;
}

.back-top li,
.back-top-active {
    display: block;
    position: relative;
    width: 82px;
    height: 90px;
    border: 2px solid #f5f5f5;
    text-align: center;
    margin-bottom: -2px;
}

.back-top-active {
    display: block;
    position: absolute;
    bottom: -14px;
    display: none;
}

.back-top i {
    display: block;
    position: absolute;
    font-size: 25px;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto 0;
}

.back-top a {
    display: block;
    color: #757575;
    transition: all .2s linear;
}

.back-top .text {
    position: absolute;
    font-size: 14px;
    bottom: 14px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.back-top a:hover {
    color: #ff7600;
}